#box_1 {
	float: left;
	background: #ee3e64;
	width: 200px;
	height: 200px;
}

#box_2 {
	width: 200px;
	height: 200px;
	background: #44accf;
	margin-top: 20px;
}

#box_3 {
	width: 200px;
	height: 200px;
	background: #b7d84b;
}